<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestingSuite">

  <test name="exampletest1">
    <classes>
       <class name="TestNG_Package.TestNG_Classes.Class_test" />
    </classes>
  </test>
  
  <!-- <test name="exampletest2">
    <classes>
       <class name="TestNG_Package.Test2" />
    </classes>
  </test> -->
  
</suite>  	